.mainContainer {
  display: flex;
  justify-content: center;
}

.fl {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.cardScrollContainer {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 5px; /* Márgenes laterales */
}

.cardContainer {
  border: solid 1px #e1e1e1;
  border-radius: 24px;
  padding: 10px;
  margin-right: 10px; /* Margen entre cartas */
}

.cardScrollContainer::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.cardScrollContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Color del thumb */
  border-radius: 4px; /* Bordes redondeados */
}

.cardScrollContainer::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Color del thumb al pasar */
}

.boton {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.btn {
  background-color: #ff8e8e; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor al pasar */
  font-size: 16px; /* Tamaño del texto */
  transition: background-color 0.3s; /* Transición suave */
  width: 97%;
}

.btn:hover {
  background-color: #ff9a9a; /* Color de fondo al pasar */
}
