.mainContainer {
  display: flex;
  margin: 0 8px;
}

.cardScrollContainer {
  margin: 0 0px; /* Márgenes laterales */
  flex: 3;
}

.cInfo {
  flex: 1;
  max-height: 300px;
  min-width: 350px;
  margin: 10px 0px 10px 5px;
}

.info {
  display: flex;
  justify-content: center;
  border: solid 1px #e1e1e1;
  border-radius: 24px;
  padding: 10px;
}

.fl {
  /*Estilos del Contador del total*/
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.boton {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.btn {
  background-color: #ff8e8e; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor al pasar */
  font-size: 16px; /* Tamaño del texto */
  transition: background-color 0.3s; /* Transición suave */
  width: 97%;
}

.btn:hover {
  background-color: #ff9a9a; /* Color de fondo al pasar */
}

@media only screen and (max-width: 720px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .cInfo {
    order: -1; /* Cambia el orden del elemento cInfo para que aparezca primero */
  }
}
