.banner-container {
  width: 100%; /* Ajusta el ancho según sea necesario */
  height: 300px; /* Ajusta la altura según sea necesario */
  overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el tamaño del div */
}

.banner-container img {
  width: 100%; /* Hace que la imagen ocupe todo el ancho del div */
  height: 100%; /* Hace que la imagen ocupe todo el alto del div */
  object-fit: cover; /* Ajusta el tamaño y la relación de aspecto de la imagen para cubrir completamente el contenedor */
}
